
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Ripley</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <ng-container *ngIf="userService.usuarioIngresado()">
            <li class="nav-item">
              <a class="nav-link" routerLink="/destinatario" routerLinkActive="active">Nuevo Destinatario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transferencia" routerLinkActive="active">Transferir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/historial" routerLinkActive="active">Historial de Transferencias</a>
            </li>   
          </ng-container>
        </ul>
        <ul class="navbar-nav ml-auto" >
          <ng-container *ngIf="!userService.usuarioIngresado(); else cerrarSesion">
            <li class="nav-item">
              <a class="nav-link" routerLink="/ingresarUsuario" routerLinkActive="active">Ingresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registrarUsuario" routerLinkActive="active">Registrar</a>
            </li>
          </ng-container>
          <ng-template #cerrarSesion>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="userService.cerrarSesionUsuario()">Cerrar sesión</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>