<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">Ingresar</div>
            <div class="card-body">
                <form [formGroup]="registrationForm" (submit)="ingresarUsuario()">
                    <div class="form-group">
                        <input type="text" formControlName="email" name="email" class="form-control" placeholder="Mail" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-primary btn-block" [disabled]="registrationForm?.invalid" >Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
  
  
